<div>

  <table class="table table-hover">
    <tbody>
      <tr>
        <th>S.No</th>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Salary</th>
      </tr>

     <tr *ngFor="let emp of arr | async ;let i=index">
       <td>{{i+1}}</td>
       <td>{{emp.employeeId}}</td>
       <td>{{emp.employeeName}}</td>
       <td>{{emp.salary}}</td>
       <td><button (click)="delete(emp.employeeId)"  class="btn btn-primary">Delete</button></td>
     </tr>
    </tbody>

  </table>

</div>

